
name: Continuous Integration
on:
  push:
    branches:
    - 'main'
    - '[0-9]+.[0-9]+.x'
    tags:
    - '**'
  pull_request:
    types: [opened, synchronize, labeled]

jobs:
  # JOB to run change detection
  changes:
    runs-on: ubuntu-20.04
    outputs:
      # Expose matched filters as job 'charts' output variable
      charts: ${{ steps.filter.outputs.changes }}
    steps:
    # For pull requests it's not necessary to checkout the code
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          rasa-bot: charts/rasa-bot/**
          rasa-action-server: charts/rasa-action-server/**

  lint-chart:
    runs-on: ubuntu-20.04
    needs: changes
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.6.0

      # helm/chart-testing-action requires python version >= 3.7
      # see: https://github.com/helm/chart-testing-action/issues/65
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.1.0

      - name: Run chart-testing (lint)
        run: ct lint --config .github/.ct.yaml

  unit-tests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        test:
          - ./test/common
          - ./charts/rasa-bot/test
          - ./charts/rasa-action-server/test

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-go@v2
        with:
          go-version: '^1.16.5'

      - name: Download dependencies
        working-directory: ${{ matrix.test }}
        run: go mod download -x all

      - name: Helm dependency update
        run: |
          cd ./charts
          for x in `ls`; do helm dependency update ./${x}; done

      - name: Run tests
        working-directory: ${{ matrix.test }}
        run: go test -v

  kubeval-chart:
    runs-on: ubuntu-20.04
    needs: changes
    strategy:
      matrix:
        # When changing versions here, check that the version exists at: https://github.com/instrumenta/kubernetes-json-schema
        k8s:
          - v1.14.10
          - v1.16.4
          - v1.18.1
        chart: ${{ fromJSON(needs.changes.outputs.charts) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.6.0

      - name: Render template
        run: |
          helm dep up charts/${{ matrix.chart }}
          helm template -f .github/kubeval.values.yaml charts/${{ matrix.chart }} > ${{ matrix.chart }}.yaml

      - name: Run kubeval
        uses: instrumenta/kubeval-action@5915e4adba5adccac07cb156b82e54c3fed74921
        env:
          KUBEVAL_SCHEMA_LOCATION: https://kubernetesjsonschema.dev/
        with:
          files: ${{ matrix.chart }}.yaml
          ignore_missing_schemas: true

  install-chart-oc:
    name: Install chart - OpenShift
    runs-on: ubuntu-20.04
    needs:
      - lint-chart
      - kubeval-chart
      - changes
    strategy:
      matrix:
        chart: ${{ fromJSON(needs.changes.outputs.charts) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install and run minishift
        run: |
          sudo apt install qemu-kvm libvirt-daemon libvirt-daemon-system

          curl -L https://github.com/dhiltgen/docker-machine-kvm/releases/download/v0.10.0/docker-machine-driver-kvm-ubuntu16.04 > /tmp/docker-machine-driver-kvm
          chmod +x /tmp/docker-machine-driver-kvm
          sudo cp /tmp/docker-machine-driver-kvm /usr/local/bin/docker-machine-driver-kvm

          sudo virsh net-list --all

          curl -L https://github.com/minishift/minishift/releases/download/v1.34.3/minishift-1.34.3-linux-amd64.tgz --output minishift.tag.gz
          tar -zxvf minishift.tag.gz
          sudo mv minishift*/minishift /usr/local/bin/minishift
          sudo chmod +x /usr/local/bin/minishift
          sudo minishift start

  install-chart:
    name: Install chart
    runs-on: ubuntu-20.04
    needs:
      - lint-chart
      - kubeval-chart
      - changes
    strategy:
      matrix:
        k8s:
          - v1.14.10
          - v1.16.9
          - v1.18.4
        chart: ${{ fromJSON(needs.changes.outputs.charts) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Create kind ${{ matrix.k8s }} cluster

        uses: helm/kind-action@d39cc6f90ef2852653eecfe0687a3513aefc9f04 # v1.1.0
        with:
          node_image: kindest/node:${{ matrix.k8s }}

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.6.0

      - name: Install chart
        run: |
          helm dep up charts/${{ matrix.chart }}
          helm install ${{ matrix.chart }} charts/${{ matrix.chart }}

      - name: Test Rasa Bot
        timeout-minutes: 5
        if: matrix.chart == 'rasa-bot'
        run: |
          kubectl wait --timeout=360s --for=condition=Ready --selector app.kubernetes.io/name=rasa-bot pod
          kubectl logs -c model-runner -l app.kubernetes.io/name=rasa-bot
          kubectl get svc

          export SERVICE_PORT=$(kubectl get -o jsonpath="{.spec.ports[0].port}" services rasa-bot)
          kubectl port-forward svc/rasa-bot ${SERVICE_PORT}:${SERVICE_PORT} &

          until `nc -w 2 -z 127.0.0.1 ${SERVICE_PORT}`; do
            echo "Waiting for ${SERVICE_PORT} port to be available."
            sleep 1
          done

          curl -s  http://127.0.0.1:${SERVICE_PORT}/

  validate:
    name: Validate the PR
    runs-on: ubuntu-20.04
    needs:
      - install-chart
    steps:
      - name: Validate the PR
        run: echo "All good!"
